/* Header */

.bg-header{
    --bs-bg-opacity:1;
    background-color:rgba(53,58,64,255)!important;
}
.navbar-nav{
    gap: 0.5vh;
}
#navbarHeader > .container-fluid > .navbar-brand{
    margin-left: 10vh;
}
#navbarHeaderLinks{
    flex-grow: 0;
    margin-right: 5vw;
}
#navbarHeaderLinks > .navbar-nav .nav-link{
    color: #968f80;
    border-radius: 8px;
}
#navbarHeaderLinks > .navbar-nav .nav-link:hover{
    color: #d1cfcb;
}
.nav-link:hover{
    background-color:rgb(102, 104, 107);
}
#navbarHeaderLinks > .navbar-nav .active{
    color: white;
}
#navbarHeaderLinks > .navbar-nav .active:hover{
    color: white;
}
#navbarHeaderLinks > .navbar-nav .nav-tickets{
    color: #299c43;
}
#navbarHeaderLinks > .navbar-nav .nav-tickets:hover{
    color: #45da68;
    cursor: pointer;
}
.banner{
    background-image: url("../media/img/ba1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    filter: brightness(40%);
    width: 100%;
    height: 75vh;
}
.banner-text{
    position: absolute;
    left: 50vw;
    bottom: 35vh;
    right: 10vw;
    color: white;
    text-align: right;
}
.btn-success{
    background-color: #0e9e2e;
    border-color: #0e912a!important;
}
.btn-success:hover{
    background-color: #117226!important;
}
@media screen and (max-width:1300px){
    .banner-text{
        position: absolute;
        left: 50vw;
        bottom: 25vh;
        right: 10vw;
        color: white;
        text-align: right;
    }
}
@media screen and (max-width:1024px){
    #navbarHeader > .container-fluid > .navbar-brand{
        margin-left: 1rem;
    }
}
@media screen and (max-width:830px){
    .banner > .img-fluid{
        width: 200vh;
        height: 75vh;
        object-fit: cover;
    }
    .banner-text{
        position: relative;
        left: auto;
        right: auto;
        bottom: 45vh;
    }
    #banner-header{
        margin-bottom: -27vh;
    }
}
@media (max-width:830px) and (max-height:425px){
    .banner-text{
        bottom: 59vh;
    }
    #banner-header{
        margin-bottom: -50vh;
    }
}
@media (max-width:830px) and (max-height:375px){
    .banner > .img-fluid{
        width: 275vh;
    }
    .banner-text{
        bottom: 68vh;
    }
    #banner-header{
        margin-bottom: -58vh;
    }
}
@media (max-width:830px) and (max-height:320px){
    .banner > .img-fluid{
        height: 105vh;
    }
    .banner-text{
        bottom: 77vh;
    }
    #banner-header{
        margin-bottom: -70vh;
    }
}
@media screen and (max-width:768px){
    .banner > .img-fluid{
        width: 200vh;
        height: 75vh;
        object-fit: cover;
    }
    .banner-text{
        position: relative;
        left: auto;
        right: auto;
        bottom: 15vh;
    }
    #banner-header{
        margin-bottom: -27vh;
    }
    #navbarHeaderLinks > .navbar-nav{
        align-items: flex-end;
    }
}
@media screen and (max-width:425px){
    #navbarHeader > .container-fluid > .navbar-brand{
        margin-left: 0px;
        margin-right: 0px;
    }
    .banner-text{
        text-align: right;
        font-size: smaller;
    }
    #bannerMainText{
        font-size: small!important;
    }
    #banner-header{
        margin-bottom: -24vh;
    }
}
@media screen and (max-width:375px){
    #banner-header{
        margin-bottom: -26vh;
    }
}

/* Main */
.card{
    width: 20rem;
}
.card > .card-img-top{
    height: 325px;
}
.card-body{
    width: auto;
}
.btn-custom{
    --bs-btn-padding-y: 0.15rem;
    --bs-btn-padding-x: 0.40rem;
    --bs-btn-font-size: 0.750rem;
}
.bg-maingrid-text{
    background-color: #353a40;
}
.border-gray{
    border-color: #979899!important;
}
#btnFormEnviar{
    --bs-btn-padding-x: 22.70vw;
    --bs-btn-padding-y: 0.375rem;
    background-color: #96c93e;
    border-color: #7ca82f!important;
}
#btnFormEnviar:hover{
    background-color: #79aa2b!important;
    border-color: #72992d!important;
}
.modal{
    --bs-modal-width: 750px;
}
.modal-body{
    padding-bottom: 0px;
}
.modal-dialog-scrollable .modal-content {
    width: 75vw!important;
    height: 72vh;
  }
.box-categoria{
    border: 1px solid black;
    width: 40vw;
    height: auto;
}
.categoria-estudiante{
    border-color: #007bff;
}
.categoria-estudiante:hover{
    background-color: #a9d3ff;
    cursor: pointer;
}
.categoria-trainee{
    border-color: #4bb7c8;
}
.categoria-trainee:hover{
    background-color: #cce5ff;
    cursor: pointer;
}
.categoria-junior{
    border-color: #ffc10a;
}
.categoria-junior:hover{
    background-color: #ffe8a3;
    cursor: pointer;
}
#text-documentacion{
    font-size: 13px;
}
.col-name{
    padding-right: 0px;
}
#valor-final{
    background-color: #cce5ff;
    color: #5192e2;
    height: 5vh;
    border-radius: 8px;
    padding-left: 1vw;
}
@media (min-width:1300px) and (max-width:1428px){
    #btnFormEnviar{
        --bs-btn-padding-x: 22.2vw;
    }
}
@media screen and (max-width:1300px){
    #btnFormEnviar{
        --bs-btn-padding-x: 22vw;
    }
}
@media screen and (max-width:1024px){
    #cards{
        gap: 1rem!important;
    }
    #btnFormEnviar{
        --bs-btn-padding-x: 21.6vw;
    }
}
@media screen and (max-width:830px){
    #img-grid-main{
        height: 45vh;
    }
}
@media (max-width:830px) and (max-height:768px){
    #cards{
        gap: 1!important;
    }
    #btnFormEnviar{
        --bs-btn-padding-x: 45.8vw;
    }
}
@media (max-width:830px) and (max-height:425px){
    #img-grid-main{
        height: 81vh;
    }
}
@media (max-width:830px) and (max-height:375px){
    #img-grid-main{
        height: 91vh;
    }
}
@media (max-width:830px) and (max-height:320px){
    #img-grid-main{
        height: 107vh;
    }
}
@media screen and (max-width:768px){
    #cards{
        gap: 0.5rem!important;
        justify-content: space-around!important;
    }
    #cards > .card{
        --bs-card-spacer-y: 0.5rem;
        --bs-card-spacer-x: 0.5rem;
        margin-bottom: 0.75vh;
    }
    #cards > .card > .card-img-top{
        height: 245px;
    }
    #cards > .card > .card-body > .btn-custom{
        margin-bottom: 0.5rem;
    }
    #cards > .card > .card-body > h5{
        margin-bottom: 0.2rem;
    }
    #cards > .card > .card-body > .card-text{
        overflow-wrap: break-word;
    }
    #img-grid-main{
        height: 42vh;
    }
    #btnFormEnviar{
        --bs-btn-padding-x: 45.4vw;
    }
}
@media screen and (max-width:425px){
    #cards{
        display: block!important;
        padding-left: 15vw!important;
        padding-right: 10vw!important;
        padding-top: 2vh!important;
    }
    #cards > .card{
        width: 18rem;
        margin-bottom: 0.75vh;
        height: auto;
    }
    #div-row1-maingrid > * {
        flex: 0 0 auto;
        width: 100%;
    }
    #div-row2-maingrid{
        border-left: 0px!important;
        border-top: var(--bs-border-width) var(--bs-border-style) #979899 !important;
        padding-bottom: 1.5vh;
    }
    #btnFormEnviar{
        --bs-btn-padding-x: 41.8vw;
    }
}
@media screen and (max-width:375px){
    #cards{
        padding-left: 13vw!important;
        padding-right: 13vw!important;
    }
    #cards > .card{
        width: 17rem;
        height: 30rem;
    }
    #cards > .card > .card-body{
        font-size: 12px;
    }
    #btnFormEnviar{
        --bs-btn-padding-x: 40.8vw;
    }
}
@media screen and (max-width:320px){
    #cards{
        padding-left: 7vw!important;
        padding-right: 7vw!important;
    }
    #btnFormEnviar{
        --bs-btn-padding-x: 39vw;
    }
}

/* Footer */
#footer-nav{
    background: rgb(28,54,67);
    background: linear-gradient(90deg, rgba(28,54,67,1) 0%, rgba(30,83,113,1) 100%);
}
#footer-nav > .nav > .nav-item > .nav-link{
    border-radius: 8px;
}
#footer-nav > .nav > .nav-item > .nav-link:hover{
    background-color: rgb(36, 126, 179);
}
@media screen and (max-width:1024px){
    #footer-nav > .nav{
        gap: 1rem !important;
    }
}
@media screen and (max-width:768px){
    #footer-nav > .nav{
        gap: 0rem !important;
    }
}